/* GERAL */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

/* MAIN */

.list {
  margin: auto;
  max-width: 900px;
  text-align: center;
}

/* CHAMPION */

.list__champion {
  display: inline-block;
  margin: 2em;
}

.list__champion__img {
  height: auto;
  width: 80px;
}

.list__champion__name {
  font-weight: 500;
}