/* GERAL */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

.header {
  background-color: orangered;
  height: 60px;
  text-align: center;
}

.header__search {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 1px;
  color: #fff;
  font-size: 18px;
  margin: 11px 0;
  padding: 4px 10px;
  text-align: left;
  width: 400px;
}

.header__search::placeholder {
  color: #fff;
  opacity: 0.9;
}

/* MAIN */

.list {
  margin: auto;
  max-width: 900px;
  text-align: center;
}

/* CHAMPION */

.list__champion {
  display: inline-block;
  margin: 2em;
  width: 110px;
}

.list__champion__img {
  height: auto;
  width: 85px;
}

.list__champion__name {
  font-size: 16px;
  font-weight: 500;
}